/* Universal Styles */

html {
  height: 100%;
}

body {
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

p {
  max-width: 64ch;
}

main {
  flex: 1 0 auto;
}

header {
  background-color: #a66b38;
}

.navbar-brand,
footer,
.footerLogo,
.heroHeader p,
h1,
h2,
h3 {
  font-family: "Merriweather", serif;
}

@media screen and (max-width: 330px) {
  .navbar-brand {
    font-size: 1rem !important;
  }
}

a {
  text-decoration: none;
  font-family: "Lato", sans-serif;
}

img {
  border-radius: calc(0.375rem - (1px));
}

.navbar-brand {
  color: #fff !important;
}

.myButton {
  background-color: #d9a404;
  border-radius: 8px;
  border: none;
  color: rgba(0, 0, 0, 1) !important;
  transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
}

.newsletter {
  background-color: #736363;
  color: #fff;
}

#email1 {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.subscribe-button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

footer .footerLogo {
  color: #a66b38 !important;
}

footer a {
  color: rgba(0, 0, 0, 0.65) !important;
  transition: color 0.15s ease-in-out;
  text-decoration: none;
}

footer a:hover {
  color: rgba(0, 0, 0, 0.8) !important;
}

footer .active {
  color: rgba(0, 0, 0, 1) !important;
}

footer .not a,
.not a {
  color: #736363 !important;
  text-decoration: none;
  transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
}

@media (hover: hover) {
  .myButton:hover {
    background-color: #d97c0b;
    color: #fff !important;
  }

  .not a:hover {
    color: #22180e !important;
  }
}

@media screen and (min-width: 767px) {
  .bigger {
    font-size: 1.25rem;
  }
}

/* Hero Section */

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./images/coffeeshop.jpg);
  height: 95vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

hgroup {
  color: #fff;
}

/* Customer Favourites Section */

#faves {
  background-color: #736363;
  color: #fff;
}

.card-img-top {
  width: 100%;
  height: 35vh;
  object-fit: cover;
  border-radius: calc(0.375rem - (1px));
}

.card {
  border: none;
  border-radius: calc(0.375rem - (1px));
}

/* Testimonials */

aside {
  background-color: #a66b38;
  color: #fff;
}

.carousel-item {
  height: 30vh;
}

/* Menu page */

.menu-main {
  background-color: #736363;
}

.menu-main h1 {
  color: #fff;
}

.accordion-button {
  background-color: #a66b38 !important;
  color: #fff !important;
}

.description p {
  font-family: "Lato", sans-serif;
}

:focus {
  outline: 0 !important;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}

@media screen and (min-width: 767px) {
  .price {
    width: 60px;
  }

  .prices,
  .prices p {
    width: 120px;
  }
}

/* Contact page */

@media screen and (max-width: 767px) {
  .google-map {
    padding-bottom: 50%;
    position: relative;
  }

  .google-map iframe {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
  }
}

form {
  font-family: "Lato", sans-serif;
}

form .myButton {
  color: rgba(0, 0, 0, 1);
}

.social {
  background-color: #a66b38;
  color: #fff;
}
